<launch>
  
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="$(find turtlebot3_navigation)/maps/map.yaml"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="true"/>

  <arg name="first_tb3"  default="tb3_0"/>

  <arg name="first_tb3_x_pos" default=" -1.0"/>
  <arg name="first_tb3_y_pos" default=" 0.0"/>
  <arg name="first_tb3_z_pos" default=" 0.0"/>
  <arg name="first_tb3_yaw"   default=" 1.57"/>
 
  <param name="/use_sim_time" value="true"/>

  <group ns = "$(arg first_tb3)">
   
   <param name="tf_prefix" value="$(arg first_tb3)"/>
   
   <!-- Map server -->
   <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)">
    <param name="frame_id" value="/map" />
   </node>

   <!-- AMCL -->
   <include file="$(find turtlebot3_navigation)/launch/amcl_tb3_0.launch"/>

   <!-- move_base -->
   <include file="$(find turtlebot3_navigation)/launch/move_base_tb3_0.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
   </include>

  </group>

  <!-- rviz
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_navigation)/rviz/turtlebot3_navigation_multi.rviz"/>
  </group>
  -->

</launch>
